<!--%= render '/refinery/content_page' %-->
<div id="banner_content">
  <% i = 0 %>  
  <% Refinery::Banners::Banner.where(:banner_type => 2).first(3).each do |b| %>  
  <% i = i + 1 %>
    <div id="<%= "banner_content#{i}" %>">
      <%= link_to (image_fu b.image, '200x173'), b.url  %>
    </div>
  <% end %>
</div>
<div id="categoryes">
  <div id="top_categoryes"></div>
  <div id="middle_menu">
  <% i = 0 %>
  <% Refinery::Categories::Category.where(:popular => true).first(3).each do |c| %>
  <% i = i + 1 %>
    <div id="<%= "middle_menu#{i}" %>">
      <%= image_fu c.logo, '90x92' %>
      <h2><%= c.name %></h2>
        <% c.subcategories.first(4).each do |s| %>
          <ul>
            <li><%= link_to s.name, refinery.subcategories_subcategory_path(s.id)  %></li>
          </ul>
        <% end %>
    </div>
    <% end %>
  </div>      
</div>
<div id="running_line">Здесь бегущая строка</div>
<div id="inet_shops">
  <div id="inet_shops_top"></div>
  <div id="slider">
    <div id="array_left"></div>
    <div id="array_right"></div>
<!-- barren 3 -->
    <div id="slide1" style="">
      <img width="232" height="119" src="images/slide1.png">
    </div>
    <div id="slide2">
      <img width="233" height="119" src="images/slide2.png">
    </div>
    <div id="slide3">
      <img width="232" height="131" src="images/slide3.png">
    </div>
    <div id="slide4">
      <img width="232" height="131" src="images/slide4.png">
    </div>
  </div>
</div>
