<div id="banner_content">
  <% i = 0 %>  
  <% Refinery::Banners::Banner.where(:banner_type => 2).first(3).each do |b| %>  
  <% i = i + 1 %>
    <div id="<%= "banner_content#{i}" %>">
      <%= link_to (image_fu b.image, '200x173'), b.url  %>
    </div>
  <% end %>
</div>
<div id="categoryes">
  <div id="top_categoryes"></div>
  <div id="middle_menu">
  <% i = 0 %>
  <% Refinery::Categories::Category.where(:popular => true).first(3).each do |c| %>
  <% i = i + 1 %>
    <div id="<%= "middle_menu#{i}" %>">
      <%= image_fu c.logo, '90x92' %>
      <h2><%= c.name %></h2>
        <% c.subcategories.first(4).each do |s| %>
          <ul>
            <li><%= link_to s.name, refinery.subcategories_subcategory_path(s.id)  %></li>
          </ul>
        <% end %>
    </div>
    <% end %>
  </div>      
</div>
<div id="running_line">
  <div id="mvDiv">
    <p id="mvDivP" style="padding:0px;">
      <% Refinery::Banners::Banner.where(:banner_type => 5).each do |b| %>  
        <%= link_to b.name, b.url  %>
      <% end %>
    </p>
  </div>
</div>
<div id="inet_shops">
  <div id="inet_shops_top"></div>
  <div id="slides">
    <div id="slides_container" class="slides_container">
    <% i = 0 %>
    <% Refinery::Banners::Banner.where(:banner_type => 3).each do |b|  %>
      <% i = i + 1 %>
      <% if (i % 4 == 1) then   %>
        <div class='slide'>
      <% end%>
          <div>
            <%= link_to (image_fu b.image), b.url  %>
          </div>
      <% if (i % 4 == 0)  then %>
        </div>
      <% end %>
      
    <% end %>
    <% if (i % 4 != 0)  then %>
        </div>
    <% end %>

    </div>
    <a id="array_left" href="#" class="prev"></a>
    <a id="array_right" href="#" class="next"></a>
  </div>
</div>
