 <div id="form_top"> </div>
<%= form_for @user, :url => main_app.settings_update_path , :html => {:id => 'profile'} do |f| %>

  <%= render '/refinery/admin/error_messages', :object => @user, :include_object_name => true %>

  <div class='field'>
    <%= f.label :username, "Логин" %>
    <%= f.text_field :username, :class => 'punkt' %>
  </div>
  <div class='field'>
    <%= f.label :email, "Электронный адрес"  %>
    <%= f.email_field :email, :class => 'punkt' %>
  </div>
  </br>
  
    <% if @user.persisted? %>
      <%= content_tag(:br) %>
      <%= content_tag(:span, 'Оставте эти поля пустыми, если не хотите менять пароль') %>
    <% end %>
  <div class='field'>
    <%= f.label :password, "Пароль"  %>
    <%= f.password_field :password, :autocomplete => 'off', :class => 'punkt' %>
  </div>

  <div class='field'>
    <%= f.label :password_confirmation, "Подтверждение пароля"  %>
    <%= f.password_field :password_confirmation, :autocomplete => 'off', :class => 'punkt' %>
  </div>
  
  <div class='field'>
    <%= f.label "VIP код:" %>
    <%= f.text_field :vip_code, :class => 'punkt' %>
  </div> 

  <%= render '/refinery/admin/form_actions', :f => f,
             :continue_editing => false,
             :hide_delete => !current_refinery_user.can_delete?(@user),
             :delete_title => t('delete', :scope => 'refinery.admin.users'),
             :delete_confirmation => t('message', :scope => 'refinery.admin.delete', :title => @user.username) %>
<% end %>
 <div id="form_bottom"> </div>

  <%= render "refinery/slider2" %>
