<div id="wrapper">
<div id="flash">
  <div>
  <!--object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" codebase="http://fpdownload.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=8,0,0,0" width="1280" height="626" id="flash" align="middle">
    <param name="allowScriptAccess" value="sameDomain" />
    <param name="movie" value="./flash.swf" /><param name="quality" value="high" /><param name="wmode" value="transparent" /><param name="bgcolor" value="#000000" /><embed src="flash.swf" quality="high" wmode="transparent" bgcolor="#000000" width="1280" height="626" name="flash" align="middle" allowScriptAccess="sameDomain" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" />
  </object-->
  </div>  
  <div id="fb"><a href="http://www.facebook.com/"><img src="../images/fb.png" width="102" height="131" alt="Facebook" /></a></div>	
  <div id="vk"><a href="http://www.vk.com/"><img src="../images/vk.png" width="80" height="203" alt="VK" /></a></div>
  
  <div id="about">
  <% if !current_refinery_user.nil? then %>
    <a href="#">О проекте IGN</a>
  <% else %>  
    <a href="#" class="lightbox_S">О проекте IGN</a>
  <% end %>
  </div>
  
  <div id="uslugi">
  <% if !current_refinery_user.nil? then %>
    <%= link_to "Услуги", refinery.services_services_path %>
  <% else %>  
    <a href="#" class="lightbox_S">Услуги</a>
  <% end %>
  </div>
  
  <div id="home"><a href="http://www.ign.su/welcome" title='Чтобы сделать эту страницу стартовой просто перетащите эту ссылку на значок домашней страницы в ващем браузере.' onclick="document.body.style.behavior='url(#default#homepage)'; document.body.setHomePage('http://www.ign.su/welcome');">Сделать домашней страницей</a></div>
  
  <div id="contact">
  <% if !current_refinery_user.nil? then %>
    <a href="#">Контакты</a>
  <% else %>  
    <a href="#" class="lightbox_S">Контакты</a>
  <% end %>
  </div>

  <div id="catalog">
  <% if !current_refinery_user.nil? then %>
   <%= link_to "В каталог - жми на IGN", refinery.categories_categories_path %>
  <% else %>  
    <a href="#" class="lightbox_S">В каталог - жми на IGN</a>
  <% end %>
  </div>  
  
  <div id="forum">
  <% if !current_refinery_user.nil? then %>
    <a href="#">Форум</a>
  <% else %>  
    <a href="#" class="lightbox_S">Форум</a>
  <% end %>
  </div>
  
  <div id="login">
    <!--%= link_to "Зарегистрироваться", refinery.new_refinery_user_registration_path %-->
    <!-- a href="<% refinery.new_refinery_user_registration_url %>" class = "lightbox_R">Зарегистрироваться</a-->
    <a href="#" class = "lightbox_R">Зарегистрироваться</a>
  </div>
  
  <div id="search">
  <% if !current_refinery_user.nil? then %>
    <%= link_to "В каталог - жми на IGN", refinery.categories_categories_path %>
  <% else %>  
    <a href="#" class="lightbox_S">Поиск по каталогу</a>
  <% end %>
  </div>
</div>	
<div id="footer"> 
<script type="text/javascript" src="//yandex.st/share/share.js" charset="utf-8"></script>
<div class="yashare-auto-init" data-yashareL10n="ru" data-yashareType="button" data-yashareQuickServices="yaru,vkontakte,facebook,twitter,odnoklassniki,moimir"></div>

  <div id="copyright"><a href="#">Все права защищены © IGN</a></div>
</div>
</div>
<div class="backdrop_R"></div>
<div class="box_R">
	<div class="close_R">x</div>
  <div id = "reg_f"> <%= render "refinery/users/new" %> </div>
  <!--iframe scrolling="auto" id="reg_iframe" frameborder="0" hspace="0" class="fancybox-iframe" src="<%= refinery.new_refinery_user_registration_url %>"></iframe-->  
</div>

<div class="backdrop_S"></div>
<div class="box_S">
	<div class="close_S">x</div>
  <!--div id="log_f_none" style="display :none"></div>
  <div id="log_f"><%= render "refinery/sessions/new" %></div-->
  <iframe scrolling="auto" id="log_iframe" frameborder="0" hspace="0" class="fancybox-iframe" src="<%= refinery.new_refinery_user_session_url %>"></iframe>  
</div>



