<%= form_for [refinery,  @user] do |f| %>

  <%= render '/refinery/admin/error_messages', :object => @user, :include_object_name => true %>

  <div class='field'>
    <%= f.label :username, "Логин" %>
    <%= f.text_field :username %>
  </div>
  <div class='field'>
    <%= f.label :email, "Электронный адрес"  %>
    <%= f.text_field :email %>
  </div>
  <div class='field'>
    <%= f.label :password, "Пароль"  %>
    <%= f.password_field :password, :autocomplete => 'off' %>
    <% if @user.persisted? %>
      <%= content_tag(:br) %>
      <%= content_tag(:span, t('.blank_password_keeps_current')) %>
    <% end %>
  </div>
  <div class='field'>
    <%= f.label :password_confirmation, "Подтверждение пароля"  %>
    <%= f.password_field :password_confirmation, :autocomplete => 'off' %>
  </div>

  <%= render '/refinery/admin/form_actions', :f => f,
             :continue_editing => false,
             :hide_delete => !current_refinery_user.can_delete?(@user),
             :delete_title => t('delete', :scope => 'refinery.admin.users'),
             :delete_confirmation => t('message', :scope => 'refinery.admin.delete', :title => @user.username) %>
<% end %>

