<div id='recent'>
<%if !session[:history].nil? %>
  <% for cur in session[:history][0..3] -%> 
    <div><%= link_to Refinery::Shops::Shop.find(cur["shop_id"]).url, refinery.shops_shop_path(cur["shop_id"]) %></div> 
  <% end -%> 
<% end %>  
</div>
<div id="bottom_menu1">
  <h2>Покупателям</h2>
	<div class="clear"></div>
  <ul>
    <% Refinery::Menus::Menu.where(:menu_type => 1).each do |m| %>  
      <li><%= m.name.html_safe %></li>
      <!--li><%= link_to m.name, m.url  %></li-->      
    <% end %>
  </ul>
</div>
<div id="bottom_menu2">
  <h2>Магазинам</h2>
  <div class="clear"></div>
  <ul>
    <% Refinery::Menus::Menu.where(:menu_type => 2).each do |m| %>  
      <li><%= m.name.html_safe %></li>
      <!--li><%= link_to m.name, m.url  %></li-->      
    <% end %>
  </ul>	
</div>
<div id="bottom_menu3">
  <h2>О компании</h2>
  <div class="clear"></div>
  <ul>
    <% Refinery::Menus::Menu.where(:menu_type => 3).each do |m| %>  
      <li><%= m.name.html_safe %></li>
      <!--li><%= link_to m.name, m.url  %></li-->      
    <% end %>
  </ul>
</div>
<div id="bottom_menu4">
  <h2>Полезная информация</h2>
  <div class="clear"></div>
  <ul>
    <% Refinery::Menus::Menu.where(:menu_type => 4).each do |m| %>  
      <li><%= m.name.html_safe %></li>
      <!--li><%= link_to m.name, m.url  %></li-->      
    <% end %>
  </ul>
</div>
<a id="logo_bottom" href="#"><img src="../images/logo_bottom.png" /></a>