<a href="#" id="logo_top"><img src="../images/logo_top.png" width="120" height="120" /></a>
<div id="top_banners">
  <% i = 0 %>  
  <% Refinery::Banners::Banner.where(:banner_type => 1).first(3).each do |b| %>  
  <% i = i + 1 %>
    <div id="<%= "top_banner#{i}" %>">
      <%= link_to (image_fu b.image, '210x62'), b.url  %>
    </div>
  <% end %>
</div>
<div id="form_search">
  <%= form_tag refinery.shops_shops_path, :method => 'get' do %>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :class => "submit", :type => "image", :src => "../images/submit.png", :name => nil %>
  <% end %>
</div>	
<div class="clear"></div>    
<div id="soc_seti">
	<script type="text/javascript" src="//yandex.st/share/share.js" charset="utf-8"></script>
<div class="yashare-auto-init" data-yashareL10n="ru" data-yashareType="button" data-yashareQuickServices="yaru,vkontakte,facebook,twitter,odnoklassniki,moimir"></div>
</div>
<div id="top_menu_conteiner">
  <div id="top_menu">
    <div class="side_top_menu"></div>
  	<ul id="top_menu_body">
  	  <li><%= link_to "Главная", refinery.root_path %></li>
  	  <li><%= link_to "Каталог", refinery.root_path %></li>
  	  <li><a href="#">О проекте</a></li>
  	  <li><%= link_to "Услуги", refinery.services_services_path %></li>
  	  <li><a href="#">Контакты</a></li>
  	  <li><a href="#">Форумы</a></li>
  	</ul>
	  <div class="side_top_menu"></div>
	</div>	  
</div>


  