<div id="account">
	  <div id="account_name"><h5>ЛИЧНЫЙ КАБИНЕТ</h5></div>
	  <%= link_to "Добавить магазин", refinery.new_shops_shop_path %>
	  <%= link_to "Добавить услугу", refinery.new_companies_company_path %>
	  <%= link_to "Мои магазины - #{current_refinery_user.shops.count}", refinery.my_shops_path %>
	  <%= link_to "Мои услуги - #{current_refinery_user.companies.count}", refinery.my_companies_path %>
	  <%= link_to "Управление профилем", main_app.settings_edit_path %>
	  	 <div class="clear"></div>
	  <p><%= link_to "Выйти", refinery.destroy_refinery_user_session_path, :id => 'logout' %></p>
	  </div>
<div id="top_left_menu"></div>
  <div id="left_menu">
<!--left menu.............................................................................-->  
    <ul id="left_menu_body">
      <% Refinery::Categories::Category.all.each do |c| %>
        <li style ="background-color: <%= c.color %>">
          <%= link_to c.name, refinery.categories_category_path(c.id) %>
          <ul class="subnav">
            <% c.subcategories.each do |s| %>
              <li><%= link_to s.name, refinery.subcategories_subcategory_path(s.id) %></li>
            <% end %>
          </ul>
        </li>
      <% end %>
    </ul>      
  </div>
<div id="banner_left">
  <% b = Refinery::Banners::Banner.where(:banner_type => 4).first%>  
  <%= link_to (image_fu b.image, '240x400'), b.url unless b.nil? %>
</div>