<a href="#" id="logo_top"><img src="../images/logo_top.png" width="120" height="120" /></a>
<div id="soc_seti">
	<img id="logo_soc_seti" src="../images/logo_soc_seti.png" />
</div>
<div id="top_banner">
  <% b = Refinery::Banners::Banner.where(:banner_type => 6).first%>  
  <%= link_to (image_fu b.image, '400x240'), b.url unless b.nil? %>
  </div>
  <div class="clear"></div>
<!--top menu.............................................................................-->
  <div id="top_menu_conteiner">
	<div id="top_menu_side_left"></div>	  
	<div id="top_menu">	   
		<div id="top_menu_body">
			<ul>
  	    <li><%= link_to "Главная", refinery.root_path %></li>
    	  <li><%= link_to "Каталог", refinery.root_path %></li>
				<li><a href="#">О проекте</a></li>
    	  <li><%= link_to "Услуги", refinery.services_services_path %></li>
				<li><a href="#">Контакты</a></li>
				<li><a href="#">Форумы</a></li>
			</ul>
		</div>
		<div id="form_search">
      <%= form_tag refinery.companies_companies_path, :method => 'get' do %>
        <%= submit_tag "Search", :id => "submit", :class => "submit", :type => "image", :src => "../images/submit_.png", :name => nil %>
        <%= text_field_tag :search, params[:search] %>
      <% end %>
		</div>
	</div>
	<div id="top_menu_side_right"></div>
</div>