<!DOCTYPE html>
<%= render '/refinery/html_tag' %>
  <% site_bar = render('/refinery/site_bar', :head => true) -%>
  <%= render '/refinery/head' %>
  <body>
    <%= site_bar -%>
    <%= render '/refinery/ie6check' if request.env['HTTP_USER_AGENT'] =~ /MSIE/ -%>
    <div id="wrap">
      <div id="space_top"></div>
      <div id="space_bottom"></div>
      <header id="header">
        <%= render '/refinery/header' -%>
      </header>
      <div id="left_sidebar">
        <%= render '/refinery/sidebar'-%>
      </div>
      <section id="content">
        <!--div id="content"-->
          <%= yield %>
        <!--/div-->
        <div id="content_bot" class="content_top_bot"></div>
      </section>
      <div class="clear"></div>
      <footer id="bottom">
        <%= render '/refinery/footer' -%>
      </footer>
    </div>
    <%= render '/refinery/javascripts' %>
  </body>
</html>
