<!DOCTYPE html>
<%= render '/refinery/html_tag' %>
  <% site_bar = render('/refinery/site_bar', :head => true) -%>
  <%= render '/refinery/head' %>
  <body>
    <%= site_bar -%>
    <%= render '/refinery/ie6check' if request.env['HTTP_USER_AGENT'] =~ /MSIE/ -%>
    <div id="photo_main"><img src="./images/bg.jpg"></div>	
    <div id="page_content">
      <%= yield %>
    </div>
    <%= render '/refinery/javascripts' %>
  </body>
</html>
